/* This is the style sheet for index.html */
/* Add the font Fizz Regular (from sources/fonts) to the page */
@font-face {
    font-family: "Fizz";
    src: url("sources/fonts/Fizz-Variable-TRIAL.woff2") format("woff2");
}

@font-face {
    font-family: "Fizz Italic";
    src: url("sources/fonts/FizzItalic-Variable-TRIAL.woff2") format("woff2");
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

body {
    background-image: url("sources/img/bg_main.png");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #fefefe;
    display: table;
    padding-top: 150px;
    margin-top: -100px;
}

#space {
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100%;
    border-bottom: 2px dashed red;
    color: red;
    text-align: center;
    padding-top: 70px;
}

#container {
    position: relative;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}

#content {

}

p {
    font-family: "Fizz";
    font-weight: normal;
    font-variation-settings: "wght" 300;
    font-size: 22px;
    line-height: 1.4;
    color: #ffffff;
}

h1 {
    font-family: "Fizz Italic";
    font-weight: normal;
    font-variation-settings: "wght" 300;
    font-size: 42px;
    line-height: 1;
    color: #ffffff;
}

h2 {
    font-family: "Fizz";
    font-weight: normal;
    font-variation-settings: "wght" 300;
    font-variant: small-caps;
    font-size: 22px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

strong {
    font-variation-settings: "wght" 700;
    font-weight: normal;
}

i {
    transition: all 0.2s ease-in-out;
    font-family: "Fizz Italic";
    font-style: normal;
}

a {
    color: #d90b5d;
    text-decoration: none;
}

a:hover {
    font-family: "Fizz Italic";
    font-style: italic;
    font-variation-settings: "wght" 700;
}

br {
    display: block;
    content: "";
    margin: 0.7em;
    line-height: 1.6;
}

.topnav {
    z-index: 100;
    position: absolute;
    top: 50px;
    font-variant: small-caps;
    letter-spacing: 0.06em;
}
.topnav a {
    font-family: "Fizz";
    font-style: normal;
    transition: all 0.2s ease-in-out;
    float: left;
    display: block;
    color: #d0d0d0;
    text-align: center;
    padding-left: 0px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a:hover {
    color: #d90b5d;
}

.topnav a.active {
    color: #ffffff;
    font-variation-settings: "wght" 600;
}

.fa {
    padding-right: 12px;
    color: #ffffff;
}

.fa:hover {
    color: #d90b5d;
    opacity: 0.7;
}

img {
    max-width: 100%
}

.clientimg {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: relative;
    top: -120px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #d90b5d;
}

.overlaytext {
    font-family: "Fizz Italic";
    font-variation-settings: "wght" 300;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

* { box-sizing: border-box;}

/* First the Grid */
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
  grid-gap: 0;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Images */
.gallery-img {
  max-width: 120px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover .overlay {
  opacity: 1;
}