/* This is the style sheet for index.html */
/* Add the font Fizz Regular (from sources/fonts) to the page */
@font-face {
    font-family: "Fizz";
    src: url("sources/fonts/FizzVF-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Fizz Italic";
    src: url("sources/fonts/FizzVF-Italic.woff2") format("woff2");
}

:root {
    --accent: #d90b5d;
}

html, body {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
}

body {
    background-image: url("sources/img/bg_main.png");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #fefefe;
    margin-top: 0;
    margin-bottom: 0;
}

.spacer {
    height: 50%;
}

#content {
    position: relative;
    max-width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}

p, ul {
    font-family: "Fizz";
    font-weight: normal;
    font-variation-settings: "wght" 400;
    font-size: 22px;
    line-height: 1.4;
    color: white;
}

h1 {
    font-family: "Fizz Italic";
    font-weight: normal;
    font-variation-settings: "wght" 400;
    font-size: 42px;
    line-height: 1;
    color: white;
}

h2 {
    font-family: "Fizz";
    font-weight: normal;
    font-variation-settings: "wght" 400;
    font-variant: small-caps;
    font-size: 22px;
    letter-spacing: 0.05em;
    color: white;
}

strong {
    font-variation-settings: "wght" 700;
    font-weight: normal;
}

i {
    transition: all 0.2s ease-in-out;
    font-family: "Fizz Italic";
    font-style: normal;
}

a {
    transition: all 0.1s ease-in-out;
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
    text-decoration-color: var(--accent);
}

a:hover {
    font-synthesis: none;
    font-variation-settings: "wght" 700;
}

br {
    display: block;
    content: "";
    margin: 0.7em;
    line-height: 1.6;
}

ul {
    font-family: "Fizz";
    list-style-type: disc;
    padding-left: 1em;
    margin: 0;
}

#nav {
    width: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.topnav {
    position: relative;
    font-size: 22px;
    font-variant: small-caps;
    letter-spacing: 0.06em;
    margin-bottom: 25px;
}

.topnav a {
    display: inline-block;
    font-family: "Fizz";
    font-style: normal;
    transition: all 0.2s ease-in-out;
    color: #d0d0d0;
    padding-left: 0px;
    padding-right: 30px;
    text-decoration: none;
}

.topnav a:hover {
    color: var(--accent);
}

.topnav a.active {
    color: white;
    font-variation-settings: "wght" 700;
}

.languages {
    font-size: 18px;
}

.languages a {
    padding-right: 10px;
}

.fa {
    padding-right: 12px;
    color: white;
}

.fa:hover {
    color: var(--accent);
    opacity: 0.7;
}

img {
    max-width: 100%
}

.clientimg {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background-color: var(--accent);
}

.overlaytext {
    font-family: "Fizz Italic";
    font-variant: normal;
    font-variation-settings: "wght" 400;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* First the Grid */
.gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 120px));
    grid-gap: 0;
    justify-items: center;
    margin: 0;
    padding: 0;
}

/* The Images */
.gallery-img {
    position: relative;
    filter: none;
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover .overlay {
    opacity: 1;
}