/* This is the style sheet for index.html */
/* Add the font Fizz Regular (from sources/fonts) to the page */
@font-face {
    font-family: "Fizz";
    src: url("sources/fonts/Fizz-Variable-TRIAL.woff2") format("woff2");
}

@font-face {
    font-family: "Fizz Italic";
    src: url("sources/fonts/FizzItalic-Variable-TRIAL.woff2") format("woff2");
}

body {
    background-color: #fefefe;
}

/* Set the font to Fizz Regular, size 16px, and color #000000 */
body, p {
    font-family: "Fizz";
    font-weight: normal;
    font-variation-settings: "wght" 300;
    font-size: 22px;
    line-height: 1.4;
    color: #ffffff;
}

body {
    position: absolute;
    top: 50%;
    left: 20%;
    -moz-transform:translateY(-50%) translateX(-12.5%);
    -webkit-transform:translateY(-50%) translateX(-12.5%);
    transform: translateY(-50%) translateX(-12.5%);
    max-height: 100%;
    max-width: 600px;
    background-image: url("sources/img/bg_main.png");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

strong {
    font-variation-settings: "wght" 700;
    font-weight: normal;
}

i {
    transition: all 0.2s ease-in-out;
    font-family: "Fizz Italic";
    font-style: normal;
}

a:hover {
    font-family: "Fizz Italic";
    font-style: italic;
    font-variation-settings: "wght" 700;
}

a {
    color: #d90b5d;
    text-decoration: none;
}

br {
    display: block;
    content: "";
    margin: 0.7em;
    line-height: 1.6;
}

.topnav {
    padding-top: 10%;
    overflow: hidden;
    font-variant: small-caps;
    letter-spacing: 0.06em;
}
.topnav a {
    font-family: "Fizz";
    font-style: normal;
    transition: all 0.2s ease-in-out;
    float: left;
    display: block;
    color: #d0d0d0;
    text-align: center;
    padding-left: 0px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 22px;
}

.topnav a:hover {
    color: #d90b5d;
    font-variation-settings: "wght" 700;
}

.topnav a.active {
    color: #ffffff;
    font-variation-settings: "wght" 600;
}

/* Style all font awesome icons */
.fa {
    padding-right: 12px;
    color: #ffffff;
    padding-bottom: 20%;
}

.fa:hover {
    color: #d90b5d;
    color: #ffffff;
    opacity: 0.7;
}